.topbar {
    padding: 12px 12px 0px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.button {
    height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.button > span {
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 4px 8px;
    user-select: none;
}

.upload {
    background-color: #00CED1;
    color: rgb(255, 255, 255);
}

.download {
    background-color: rgb(104, 121, 235);
    color: rgb(255, 255, 255);
}

.topbar-center-options {
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.topbar-center-options > label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(118, 129, 132);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.iQiXor{
    display: inline-block;
    height: 11px;
    width: 1px;
    border-radius: 1px;
    background: rgb(223, 231, 237);
}