.item {
    padding: 5px;
}

.item > div {
    display: inline-flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 4px;
    padding: 2px;
    cursor: pointer;
    border-radius: 2px;
}

.item > div > img {
    position: relative;
    user-select: none;
    width: 80px;
    height: 55px;
    object-fit: cover;
}

.item > div > label {
    margin-top: 6px;
    font-size: 11px;
    line-height: 12px;
}

.item > div[aria-selected="true"] > img {
    padding: 1px;
    border: 2px solid #034694;
    border-radius: 2px;
}

.item > div[aria-selected="true"] > label {
    color: #0047AB;
}

.slick-prev {
    z-index: 100;
    left: 0 !important;
}

.slick-next {
    z-index: 100;
    right: 0 !important;
}

.slick-prev::before,
.slick-next::before {
    color: brown;
}

.toolbar-options {
    position: relative;
    width: 100%;
    transition: max-height 100ms ease-in-out 0s;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-height: 40px;
    margin: 0px auto 8px;
    z-index: 100;
}

.finetune-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: auto;
}

.finetune-item {
    display: flex;
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    color: rgb(118, 129, 132);
}

.finetune-item > svg {
    width: 18px;
    height: 18px;
}

.finetune-item > label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    cursor: pointer;
    user-select: none;
    margin-left: 6px;
}

.finetune-item:not(:last-child) {
    margin-right: 8px;
}

.finetune-item:hover {
    background: #ADD8E6;
    color: #0E3386;
}

.finetune-item[aria-selected="true"] {
    background: #ADD8E6;
    color: #0E3386;
}
