.sideBar {
    padding: 0px 12px 12px 0px;
    overflow-y: auto;
    max-height: 100%;
}

.sideBar-item {
    width: 67px;
    height: 62px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: rgb(248, 250, 251);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.sideBar-item > label {
    cursor: pointer;
    margin-top: 6px;
    font-size: 11px;
    line-height: 12px;
    user-select: none;
}

.sideBar-item:hover,
.sideBar-item[aria-selected=true] {
    background-color: aquamarine;
    color: rgb(73, 88, 188);
}

.imageUpload {
    display: none;
}