* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #385b83,
        #273a5c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #385b83,
        #273a5c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* :not(button) > svg:not([color]) {
    color: rgb(93, 109, 126);
} */
